* {
  width: auto;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}

BODY {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

header, footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

img, svg {
  max-width: 100%;
}

.map-container {
  width: 100%;
  margin: auto;
}

.google-map {
  width: 100%;
  min-height: 75vh;
  max-height: 75vh;
}

.map {
  width: 100%;
  min-height: 75vh;
  max-height: 75vh;
}

.user-interface {
  width: 60vw;
  box-shadow: 0 0 10px 0 #333;
  min-height: 75vh;
  max-height: 75vh;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s;
  position: absolute;
  background-color: #eee;
  overflow-y: scroll;
}

.off-canvas-ui .user-interface {
  transform: translate3d(calc(-1*75vw), 0, 0);
  transition: transform 0.2s;
}

.user-interface-headmast, .headmast {
  background: #0000ff;
  color: #eee;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  width: 100%;
}

.ui-headmast-header {
  width: 85%;
  text-align: center;
  font-variant: small-caps;
  line-height: 1.2;
}

.ui-headmast-drawer-closer {
  width: 15%;
  line-height: 1.2;
}

.user-interface-interaction {
  width: 100%;
}

.ui-interaction-box {
  width: calc(100% - 1px);
  padding: 1em;
  box-shadow: 0 0 0.1em 0 #333;
  font-family: 'Montserrat', serif;
  font-variant: small-caps;
  font-variant-caps: petite-caps;
}

.user-interface-places {
  width: 100%;
  margin: .2em 0;
}

.user-interface-venue {
  width: 100%;
  padding: .2em;
  line-height: 1.5;
  font-variant: small-caps;
  box-shadow: 0 0 0 1px #ccc;
  list-style-type: none;
  min-height: 48px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.venue-name {
  width: 90%;
  max-width: 90%;
}

.venue-details-drawer-opener {
  width: 10%;
  max-width: 10%;
}

.venue-details-expander {
  cursor: pointer;
  max-width: 100%;
  visibility: visible;
  display: block;
  font-weight: bolder;
  font-family: monospace;
}

.venue-details {
  width: 100%;
}

.venue-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.venue-address {
  width: 60%;
  border-right: 1px solid #ccc;
  padding: 0.5em;
}

.venue-categories {
  width: 40%;
  padding: 0.5em;
}

.venue-map {
  margin: 1em auto;
  border-top: 1px solid #ccc;
  width: 100%;
  padding: 0.5em;
}

.error {
  width: 100%;
  color: #ff6966;
  font-weight: bold;
  padding: 1em 0;
  min-height: 0;
}

.error-msg {
  font-family: 'Montserrat', serif;
  font-variant: small-caps;
  text-align: center;
  font-variant-caps: petite-caps;
}

.headmast {
  width: 100%;
  box-shadow: 0 0 10px 0 #333;
}

.ui-headmast-drawer-opener {
  width: 25%;
  line-height: 1.2;
}

.headmast-header {
  width: 75%;
  font-variant: small-caps;
  line-height: 1.2;
}