@media Screen and (min-width:760px) {
  .user-interface {
    width: 50vw;
  }
}

@media Screen and (min-width:992px) {
  .user-interface {
    width: 23%;
    order: 1;
    position: relative;
    box-shadow: 1px 0 0 0 #ccc;
  }
  .map-container {
    width: 77%;
    order: 2;
  }
  header {
    order: 0;
  }
  .off-canvas-ui .user-interface {
    transform: translate3d(0, 0, 0);
  }
  .drawer-handle {
    display: none;
  }
  .user-interface-headmast {
    display: none;
  }
  .ui-interaction-box {
    box-shadow: 0 0 0 0 #ccc;
    border: 1px ridge #ccc;
  }
}