@media Screen and (min-width:760px) {
  .user-interface {
    width: 50vw;
  }
  .single-credit {
    width: 50%;
  }
  .creditFsq {
    order: 2;
  }
  .wikiCredit {
    order: 1;
  }
  .info-window-detail {
    max-width: 24vw;
  }
}

@media Screen and (min-width:992px) {
  .user-interface {
    width: 23%;
    order: 1;
    position: relative;
    box-shadow: 1px 0 0 0 #ccc;
  }
  .map-container {
    width: 77%;
    order: 2;
  }
  .offcanvas .user-interface {
    transform: translate3d(0, 0, 0);
  }
  .drawer-handle {
    display: none;
  }
  .user-interface-headmast {
    display: none;
  }
  .ui-interaction-box {
    box-shadow: 0 0 0 0 #ccc;
    border: 1px ridge #ccc;
  }
  .single-credit {
    width: 33%;
  }
  .creditFsq {
    order: 1;
  }
  .wikiCredit {
    order: 0;
  }
  .creditGoogle {
    order: 2;
  }
  .credits {
    margin: 2em auto auto auto;
  }
}